// Layouts

@import "base";
@import "base1";
@import "footer";
@import "gallery";
@import "grids";
@import "widget-area";

// Masthead
@import "masthead/masthead-base";
@import "masthead/masthead-standard";
@import "masthead/masthead-search";
@import "masthead/masthead-headhesive";
@import "masthead/mburger";

@import "image-grid";
@import "masonry";
@import "post";
@import "preheader";

// LAYOUT @extends

// Wrapper for a list of posts
%posts-list-wrapper {
  display: grid;
  gap: $grid-row-gap $grid-column-gap;
  @include bp($mobile-horizontal) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include bp($tablet-horizontal) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.posts--1 {
  @include bp($mobile-horizontal) {
    grid-template-columns: 1fr;
  }
}

.posts--2 {
  @include bp($mobile-horizontal) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.posts--3 {
  @include bp($mobile-horizontal) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include bp($tablet-horizontal) {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Section Layouts
.section {
  &--media-block {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

    }
    .post {
      &__title {
        @extend .post__header !optional;
        text-align: left;
        grid-row: 2/3;
        grid-column: 2/4;
        @include bp($tablet) {
          padding: 
            $media-block-text-top-padding
            $media-block-text-side-padding
            $media-block-text-top-padding
            0;
          margin: 0;
        }
      }
      &__body {
        grid-row: 3/5;

      }
      &__image {
        grid-column: 3/5;
        grid-row: 1/5;
      }
    }
    &--image-left {
      // @extend %grid-image-left;
      .container {
        @include bp($tablet) {
          grid-template-columns: 1fr 2fr 110px minmax(200px, 1fr);
          gap: 0;
        }
      }
      .post {
        &__body {
          @include bp($tablet) {
            padding: $media-block-text-top-padding
              $media-block-text-side-padding;
          }
        }
        &__body {
          grid-column: 3/5;
          grid-row: 3/4;
  
        }
        &__image {
          grid-column: 2/4;
          grid-row: 1/5;
        }
        &__title {
          text-align: left;
          grid-row: 2/3;
          grid-column: 3/5;
          @include bp($tablet) {
            padding: $media-block-text-top-padding
              $media-block-text-side-padding;
            margin: 0;
          }
        }
      }
    }
  }
}