// Do not delete this file!
// Even if empty!

$fa-font-size-base: 18px;

// LotaGrotesque 
$base-font-family: "LotaGrotesque-Regular"; 
$alt-font-family: "LotaGrotesque-SemiBold"; 
$alt2-font-family: "LotaGrotesque-Light"; 
